body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(88deg, #0a0d83, #dd6119ad);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
  letter-spacing: 4px;
}
#norman{
  letter-spacing: 4px;
  text-decoration: underline;
}

.boton{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  touch-action: manipulation;
  text-decoration: none;
}

.boton:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

header {
    padding-top: 15px;
}

img {
    border-radius: 25%;
  }

.contenido img {
    border-radius: 25%;
    width: 100%;


}

  section {
    margin: 25px;
  }

  .contenido{
    background-color:rgb(183 183 183);
    border-radius: 25px;
    border: 2px solid #585858;
    padding: 20px; 
    width: 450px;
    height: auto;  
  

  }

a:hover {
     color:rgb(126, 204, 185);
  }

  a {
    color:black;
  }

.abierta, .idiomas {
  text-decoration: underline;
}

footer {
  clear:both;
}
